---
layout: default
answerrostag: "index"
---

<div class="home">

  {% include youtube_index.html youtubeid="ni49uYq4cF4" title="Liatris powering a <a href='http://liatris.org/2015/02/01/12/'>Baxter</a>" %}

  <p>Liatris is an open-source project that determines any object’s exact pose and identity using a touch screen and RFID reader. It's primarily programmed in <a href="http://www.ros.org">ROS</a> and <a href="http://www.python.org">Python</a>.</p>
  <ol>
    {% for post in site.posts reversed %}
      <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ol>

</div>
